.green-button:focus,
.gray-button:focus {
    outline: 0;
}

.gray-button {
    color: #fff;
    background-color: #AAB2BF;
    border-color: #9096A2;
}

.gray-button:hover,
.gray-button:active {
    background-color: #9096A2;
    border-color: rgb(125, 128, 134);
}

.green-button {
    color: #fff;
    background-color: #A3D465;
    border-color: #A3D465;
}

.green-button:hover,
.green-button:active {
    background-color: #4CAF50;
    border-color: #43A047;
}

.green-button,
.gray-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}