@import "menu.css";
@import "question-panel.css";
@import "buttons.css";
@import "windows.css";

html, 
body, 
#root {
    width: 100%;
    height: 100%;
    font-family: Roboto, monospace;
    margin: 0;
    padding: 0;
    background: #E1E4E9;
    font-size: 10px;
}

.hidden {
    display: none!important;
}

.configurator {
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
}

.navbar {
    height: 4rem;
    width: 100%;
    background-color: white;
    border-bottom: var(--border);
    position: absolute;
}

.content {
    display: flex;
    padding-top: 4rem;
}