@import "menu.css";
@import "windows.css";

:root {
    --light-main-color: #a36dff;
    --main-color: #5e35b1;
    --dark-main-color: #280680;

    --light-secondary-color: #ffbd45;
    --secondary-color: #fb8c00;
    --dark-secondary-color: #c25e00;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto, monospace;
    margin: 0;
    background: #E1E4E9;
    font-size: 10px;
}

.configurator {
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar {
    height: 4rem;
    width: 100%;
    background-color: white;
    border-bottom: var(--border);
}