:root {
    --border: solid 1px #c5c8cd;
    --menu-line: {
        height: 35px;
        line-height: 35px;
    };
}

.menu {
    width: 30rem;
    border-right: var(--border);
    background-color: white;
}

.menu__panel_header {
    background-color: #AAB2BF;
    height: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    color: #404040;
}

.menu__panel {
    height: calc(100% - 3.5rem);
}

.menu__panel_content {
    height: 100%;
    overflow-y: auto;
}

.menu__panel_design-logo {
    background: url('../img/bg-transparent.png');
    margin-top: 1rem;
    float: left;
    width: 100%;
}