@import "index.css";

:root {
    --border: solid 1px #c5c8cd;
    --menu-line: {
        height: 35px;
        line-height: 35px;
    };
}

.menu {
    width: 25rem;
    height: 100vh;
    border-right: var(--border);
    background-color: white;
}

.menu__submenu_header {
    background-color: #AAB2BF;
    height: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    color: #404040;
}

.menu__submenu_question {
    padding-left: 1.5rem;
    border-top: var(--border);
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.menu__submenu_question:last-child {
    border-bottom: var(--border);
}

.menu__submenu_question-chosen {
    background-color: #57BBF6;
    border-left: .3rem #438BC6 solid;
    color: #fff;
}