.navbar {
    height: 4rem;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #c5c8cd;
    position: absolute;
}

.navbar__item {
    display: inline-block;
    line-height: 4rem;
    height: 4rem;
    padding: 0 1rem 0 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

.navbar__item:hover {
    background: #efefef;
}

.navbar_download-btn {
    float: right;
    margin-top: .6rem;
    margin-right: 1rem;
}