.menu__question-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__question-panel_add-button {
    margin-top: 3rem;
    width: 7rem;
}

.menu__question-panel_question {
    padding-left: 1.5rem;
    border-top: var(--border);
    line-height: 2.5rem;
    font-size: 1.2rem;
    width: 24.8rem;
}

.menu__question-panel_question:last-child {
    border-bottom: var(--border);
}

.menu__question-panel_question_chosen {
    background-color: #57BBF6;
    border-left: .3rem #438BC6 solid;
    color: #fff;
}