.add-button {
    margin-top: 3rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.add-button button {
    width: 100%;
}

.question-list_question {
    padding-left: 1.5rem;
    border-top: var(--border);
    line-height: 2.5rem;
    font-size: 1.2rem;
    width: 25.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-list_question > span {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /*DO NOT TOUCH!!!*/
}

.question-list_question:last-child {
    border-bottom: var(--border);
}

.question-list_question_chosen {
    background-color: #57BBF6;
    border-left: .3rem #438BC6 solid;
    color: #fff;
    position: relative;
}

.question-list_delete-btn {
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: .1rem;
    right: 0;
}

.question-list_delete-btn:hover {
    cursor: pointer;
}

.question-list_delete-btn:before {
    content: '\002716';
}