:root {
    --button: {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border: none;
        border-radius: 2px;
        text-align: center;
        line-height: 100%;
        height: 100%;
    }
}

.window-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 10rem;
    width: 100rem;
}

.question-window {
    width: 100%;
    border: var(--border);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: white;
    height: calc(100% - 15rem);
    border-radius: .1rem;
}

.window-buttons {
    display: flex;
    width: 100%;
    margin: 1vh 0;
    position: relative;
    justify-content: center
}

.window-buttons__nav-container {
    position: absolute;
    right: 0;
}

.window-buttons_arrow {
    @apply --button;
    background-color: #6e6f73;
    color: white;
    font-size: 1.1em;
}

.window-buttons_add-after {
    margin-left: .4rem;
}

.window-buttons_arrow-next {
    margin-left: .2rem;
}

.question-window_header {
    background-color: #438BC6;
    height: 3rem;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}

.question-window_header_title {
    color: #fff;
    line-height: 3rem;
    padding-left: 1rem;
    font-size: 1.35rem;
}

.question-window__content {
    height: calc(100% - 3rem);
    overflow-y: auto;
}

.question-window__question-field-list {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem; /*TODO: choose fontSize*/
    margin: 0 2rem;
}

.question-window__question-field {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-window__question-field img {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1rem;
}

.question-window__question-field span {
    font-weight: 700;
}

.question-window__question-field input {
    margin-right: 1rem;
    margin-left: auto;
    width: 30rem;
    font-size: 1.3rem; /*TODO: choose fontSize*/
}

.question-window__question-field_error {
    font-weight: normal;
    margin-right: 25rem;
    width: 9rem;
    color: red;
}